<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <ul id="user-list">
    </ul>
    <script>
        fetch('/api/users')
            .then(response => response.json())
            .then(users => {
                const userList = document.getElementById('user-list');
                userList.innerHTML = users.map(user => {
                    return `<li>${user.first_name} ${user.last_name} - ${user.email} - ${user.role}
                            <button onclick="modifyRole('${user._id}')">Modify Role</button>
                            <button onclick="deleteUser('${user._id}')">Delete User</button></li>`;
                }).join('');
            })
            .catch(error => console.error(error));

        function modifyRole(userId) {
        }

        function deleteUser(userId) {
        }
    </script>
</body>
</html>